.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.grid-container-inner {
    text-align: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
}

.grid-container-inner-equity {
    text-align: center;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto auto;
    
}

.grid-item-inner-equity {

    width: 60px;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
}
.range, .volume-value, .avg-volume-value {
    font-size: x-small;
}
.grid-item {
    width: 300px;
    margin: 0 5px 0 5px;
    border-radius: 10px;
}

.grid-item-inner {

    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.side-note {
    margin-top: 5px;
    font-size: xx-small;
}

.at_close {
    font-size: small;
}

.open-value {
    padding-top: 23px;
}

.open-value-equity, .volume-value {
    padding-top: 18px;
}
.triangle-down {
    width: 0;
    height: 0;
    margin: 15px 0 20px 0;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    
    border-top: 20px solid red;
    margin-left: auto;
    margin-right: auto;
}
.table-view {
    text-align: center;
    width: 75%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    z-index: 4;
    position: absolute;
    overflow: scroll;
    top: 12%;
    left: 15%;
    border-color: black !important;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;

}
tr:nth-child(even) {background-color: #CCC;}
tr:nth-child(odd) {background-color: #ffffff;}



/* For mobile view */
@media (min-width: 200px) and (max-width: 330px) { 
    .grid-container {
        display: block;
        margin-left: 2%;
    }

    .table td:nth-child(3), .table th:nth-child(3), .table td:nth-child(4), .table th:nth-child(4), .table td:nth-child(6), .table th:nth-child(6) {
        display: none;
    }

    .table {
        font-size: x-small;
    }
}

@media (min-width: 350px) and (max-width: 400px) { 
    .grid-container {
        display: block;
        margin-left: 9%;
    }

    .table td:nth-child(3), .table th:nth-child(3), .table td:nth-child(4), .table th:nth-child(4), .table td:nth-child(6), .table th:nth-child(6) {
        display: none;
    }

}

@media (min-width: 405px) and (max-width: 440px) { 
    .grid-container {
        display: block;
        margin-left: 12%;
    }

    .table td:nth-child(3), .table th:nth-child(3), .table td:nth-child(4), .table th:nth-child(4), .table td:nth-child(6), .table th:nth-child(6) {
        display: none;
    }
}

@media (min-width: 450px) and (max-width: 608px) { 
    .grid-container {
        display: block;
        margin-left: 21%;
    }

    .table td:nth-child(3), .table th:nth-child(3), .table td:nth-child(4), .table th:nth-child(4), .table td:nth-child(6), .table th:nth-child(6) {
        display: none;
    }
}

@media (min-width: 610px) and (max-width: 725px) { 

    .table td:nth-child(3), .table th:nth-child(3), .table td:nth-child(4), .table th:nth-child(4) {
        display: none;
    }
}

@media (min-width: 730px) and (max-width: 808px) { 
    .grid-container {
        margin-left: 5%;
    }

}